<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ViewTeacherSalary</servlet-name>
        <servlet-class>vn.edu.fpt.controller.ViewTeacherSalary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherSalaryDetail</servlet-name>
        <servlet-class>vn.edu.fpt.controller.TeacherSalaryDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTeacherSalary</servlet-name>
        <url-pattern>/ViewTeacherSalary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherSalaryDetail</servlet-name>
        <url-pattern>/TeacherSalaryDetail</url-pattern>
    </servlet-mapping>
</web-app>
