USE [master]
GO
/****** Object:  Database [Onlinelearning]    Script Date: 4/27/2025 8:07:07 PM ******/
CREATE DATABASE [Onlinelearning]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Onlinelearning', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Onlinelearning.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Onlinelearning_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Onlinelearning_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Onlinelearning].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Onlinelearning]
GO
/****** Object:  Table [dbo].[teacher_salary]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher_salary](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[teacher_id] [int] NOT NULL,
	[gross_amount] [decimal](12, 2) NULL,
	[commission_rate] [decimal](5, 2) NULL,
	[commission_amount] [decimal](12, 2) NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[month] [int] NOT NULL,
	[year] [int] NOT NULL,
	[transaction_count] [int] NULL,
	[paid] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[paid_at] [datetime] NULL,
	[notes] [nvarchar](500) NULL,
	[status] [varchar](20) NULL,
	[last_modified_by] [int] NULL,
 CONSTRAINT [PK_teacher_salary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[teacher_id] [int] NULL,
	[title] [varchar](255) NULL,
	[thumbnail_url] [varchar](255) NULL,
	[description] [text] NULL,
	[category_id] [int] NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NULL,
	[course_id] [int] NULL,
	[amount] [decimal](10, 2) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[revenue_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NULL,
	[middle_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[gender_id] [int] NULL,
	[password] [varchar](255) NULL,
	[role_id] [int] NULL,
	[avatar_url] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TeacherPayrollView]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE VIEW [dbo].[TeacherPayrollView]
	AS
	SELECT 
		ts.id AS SalaryID,
		ts.teacher_id AS TeacherID,
		u.first_name + ' ' + COALESCE(u.last_name, '') AS TeacherName,
		ts.gross_amount AS GrossAmount,
		ts.commission_rate AS CommissionRate,
		ts.commission_amount AS CommissionAmount,
		ts.total_amount AS SalaryAmount,
		ts.month AS SalaryMonth,
		ts.year AS SalaryYear,
		CASE ts.paid WHEN 1 THEN 'Paid' ELSE 'Unpaid' END AS PaymentStatus,
		ts.transaction_count AS TransactionCount,
		SUM(t.amount) AS TotalCourseRevenue,
		ts.status AS Status,
		ts.created_at AS CreatedAt,
		ts.paid_at AS PaidAt,
		ts.notes AS Notes,
		ts.last_modified_by AS LastModifiedBy
	FROM [dbo].[teacher_salary] ts
	INNER JOIN [dbo].[users] u ON ts.teacher_id = u.id
	LEFT JOIN [dbo].[courses] c ON u.id = c.teacher_id
	LEFT JOIN [dbo].[transactions] t ON c.id = t.course_id 
		AND t.status = 'paid'
		AND MONTH(t.created_at) = ts.month
		AND YEAR(t.created_at) = ts.year
	WHERE u.role_id = 2
	GROUP BY 
		ts.id, ts.teacher_id, u.first_name, u.last_name, ts.gross_amount, 
		ts.commission_rate, ts.commission_amount, ts.total_amount, 
		ts.month, ts.year, ts.paid, ts.transaction_count, ts.status, 
		ts.created_at, ts.paid_at, ts.notes, ts.last_modified_by;
GO
/****** Object:  View [dbo].[PayrollChartData]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE VIEW [dbo].[PayrollChartData]
	AS
	SELECT 
		ts.month AS Month,
		ts.year AS Year,
		COUNT(DISTINCT ts.id) AS SalaryCount,
		SUM(ts.total_amount) AS TotalTeacherSalary,
		SUM(ts.gross_amount) AS TotalGrossAmount,
		SUM(ts.commission_amount) AS TotalCommission,
		COUNT(t.id) AS TransactionCount,
		SUM(t.amount) AS TotalRevenue
	FROM [dbo].[teacher_salary] ts
	LEFT JOIN [dbo].[courses] c ON ts.teacher_id = c.teacher_id
	LEFT JOIN [dbo].[transactions] t ON c.id = t.course_id 
		AND t.status = 'paid'
		AND MONTH(t.created_at) = ts.month
		AND YEAR(t.created_at) = ts.year
	GROUP BY ts.month, ts.year;
GO
/****** Object:  View [dbo].[StatisticsView]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE VIEW [dbo].[StatisticsView]
	AS
	SELECT 
		YEAR(t.created_at) AS Year,
		MONTH(t.created_at) AS Month,
		SUM(t.amount) AS TotalRevenue,
		(SELECT COUNT(DISTINCT id) FROM [dbo].[users] WHERE role_id = 2) AS TotalTeachers,
		(SELECT COUNT(DISTINCT id) FROM [dbo].[users] WHERE role_id = 3) AS TotalStudents,
		COUNT(DISTINCT c.id) AS TotalCourses,
		COUNT(t.id) AS TotalSuccessfulTransactions
	FROM [dbo].[transactions] t
	LEFT JOIN [dbo].[courses] c ON t.course_id = c.id
	WHERE t.status = 'paid'
	GROUP BY YEAR(t.created_at), MONTH(t.created_at);
GO
/****** Object:  View [dbo].[TopTeachersView]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	-- View để lấy top 5 giáo viên có lương cao nhất
	CREATE VIEW [dbo].[TopTeachersView]
	AS
	SELECT TOP 5
		ts.teacher_id AS TeacherID,
		u.first_name + ' ' + u.last_name AS TeacherName,
		SUM(ts.total_amount) AS TotalSalary,
		ts.year AS Year
	FROM [dbo].[teacher_salary] ts
	INNER JOIN [dbo].[users] u ON ts.teacher_id = u.id
	WHERE u.role_id = 2
	GROUP BY ts.teacher_id, u.first_name, u.last_name, ts.year
	ORDER BY SUM(ts.total_amount) DESC;
GO
/****** Object:  Table [dbo].[Answer_Option]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer_Option](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[Text] [nvarchar](500) NULL,
	[IsCorrect] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blogs]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NULL,
	[content] [text] NULL,
	[author_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NULL,
	[course_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[semester] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[commissions]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[commissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rate] [decimal](5, 2) NULL,
	[effective_from] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_enrollments]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_enrollments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NULL,
	[course_id] [int] NULL,
	[enrolled_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NULL,
	[course_id] [int] NULL,
	[content] [text] NULL,
	[rating] [int] NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genders]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[VideoURL] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson_Completion]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson_Completion](
	[CompletionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[LessonID] [int] NOT NULL,
	[CompletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CompletionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[transaction_id] [int] NULL,
	[payment_method] [varchar](50) NULL,
	[payment_status] [varchar](20) NULL,
	[paid_amount] [decimal](10, 2) NULL,
	[paid_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuizID] [int] NOT NULL,
	[Text] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[QuizID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[duration_minutes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz_Attempt]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz_Attempt](
	[AttemptID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[QuizID] [int] NOT NULL,
	[AttemptDate] [datetime] NULL,
	[Score] [decimal](5, 2) NULL,
	[completion_time_minutes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttemptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[revenue]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[revenue](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total_amount] [decimal](15, 2) NOT NULL,
	[commission_id] [int] NULL,
	[commission_rate] [decimal](5, 2) NULL,
	[month] [int] NULL,
	[year] [int] NULL,
	[generated_at] [datetime] NULL,
	[commission_amount]  AS (round(([total_amount]*[commission_rate])/(100.0),(3))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subjects]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subjects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher_subjects]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher_subjects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[teacher_id] [int] NULL,
	[subject_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Answer]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Answer](
	[UserAnswerID] [int] IDENTITY(1,1) NOT NULL,
	[AttemptID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[OptionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserAnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlist]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NULL,
	[course_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answer_Option] ON 

INSERT [dbo].[Answer_Option] ([OptionID], [QuestionID], [Text], [IsCorrect]) VALUES (11, 11, N'Konnichiwa', 1)
INSERT [dbo].[Answer_Option] ([OptionID], [QuestionID], [Text], [IsCorrect]) VALUES (12, 12, N'Arranges data in order', 1)
INSERT [dbo].[Answer_Option] ([OptionID], [QuestionID], [Text], [IsCorrect]) VALUES (13, 13, N'Uniquely identifies a record', 1)
SET IDENTITY_INSERT [dbo].[Answer_Option] OFF
GO
SET IDENTITY_INSERT [dbo].[blogs] ON 

INSERT [dbo].[blogs] ([id], [title], [content], [author_id], [created_at]) VALUES (11, N'AI in Education', N'How AI is transforming learning...', 1, CAST(N'2024-11-11T08:00:00.000' AS DateTime))
INSERT [dbo].[blogs] ([id], [title], [content], [author_id], [created_at]) VALUES (12, N'Machine Learning Basics', N'Introduction to ML concepts...', 1, CAST(N'2024-11-12T09:00:00.000' AS DateTime))
INSERT [dbo].[blogs] ([id], [title], [content], [author_id], [created_at]) VALUES (13, N'Securing Your Data', N'Tips for cybersecurity...', 5, CAST(N'2024-11-13T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[blogs] OFF
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([id], [student_id], [course_id], [created_at]) VALUES (11, 22, 21, CAST(N'2024-11-11T08:00:00.000' AS DateTime))
INSERT [dbo].[cart] ([id], [student_id], [course_id], [created_at]) VALUES (12, 23, 22, CAST(N'2024-11-12T09:00:00.000' AS DateTime))
INSERT [dbo].[cart] ([id], [student_id], [course_id], [created_at]) VALUES (13, 24, 23, CAST(N'2024-11-13T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [semester]) VALUES (1, N'semester 1')
INSERT [dbo].[category] ([id], [semester]) VALUES (2, N'semester 2')
INSERT [dbo].[category] ([id], [semester]) VALUES (3, N'semester 3')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[commissions] ON 

INSERT [dbo].[commissions] ([id], [rate], [effective_from]) VALUES (1, CAST(20.00 AS Decimal(5, 2)), CAST(N'2025-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[commissions] ([id], [rate], [effective_from]) VALUES (2, CAST(22.00 AS Decimal(5, 2)), CAST(N'2025-02-01T00:00:00.000' AS DateTime))
INSERT [dbo].[commissions] ([id], [rate], [effective_from]) VALUES (3, CAST(24.00 AS Decimal(5, 2)), CAST(N'2025-03-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[commissions] OFF
GO
SET IDENTITY_INSERT [dbo].[course_enrollments] ON 

INSERT [dbo].[course_enrollments] ([id], [student_id], [course_id], [enrolled_at]) VALUES (11, 22, 21, CAST(N'2024-11-11T08:00:00.000' AS DateTime))
INSERT [dbo].[course_enrollments] ([id], [student_id], [course_id], [enrolled_at]) VALUES (12, 23, 22, CAST(N'2024-11-12T09:00:00.000' AS DateTime))
INSERT [dbo].[course_enrollments] ([id], [student_id], [course_id], [enrolled_at]) VALUES (13, 24, 23, CAST(N'2024-11-13T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[course_enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[courses] ON 

INSERT [dbo].[courses] ([id], [teacher_id], [title], [thumbnail_url], [description], [category_id], [status], [created_at], [price]) VALUES (11, 1, N'Academic Skills for University Success', N'https://example.com/thumb11.jpg', N'Learn Academic Skills for University Success.', 1, N'active', CAST(N'2024-10-11T09:00:00.000' AS DateTime), CAST(49.99 AS Decimal(10, 2)))
INSERT [dbo].[courses] ([id], [teacher_id], [title], [thumbnail_url], [description], [category_id], [status], [created_at], [price]) VALUES (12, 1, N'Programming Fundamentals', N'https://example.com/thumb12.jpg', N'Learn Programming Fundamentals.', 1, N'active', CAST(N'2024-10-12T09:00:00.000' AS DateTime), CAST(59.99 AS Decimal(10, 2)))
INSERT [dbo].[courses] ([id], [teacher_id], [title], [thumbnail_url], [description], [category_id], [status], [created_at], [price]) VALUES (13, 1, N'Mathematics for Engineering', N'https://example.com/thumb13.jpg', N'Learn Mathematics for Engineering.', 1, N'active', CAST(N'2024-10-13T09:00:00.000' AS DateTime), CAST(79.99 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[courses] OFF
GO
SET IDENTITY_INSERT [dbo].[feedback] ON 

INSERT [dbo].[feedback] ([id], [student_id], [course_id], [content], [rating], [status], [created_at]) VALUES (11, 22, 21, N'Excellent course content!', 5, N'visible', CAST(N'2024-11-11T08:00:00.000' AS DateTime))
INSERT [dbo].[feedback] ([id], [student_id], [course_id], [content], [rating], [status], [created_at]) VALUES (12, 23, 22, N'Very informative, well-structured.', 4, N'visible', CAST(N'2024-11-12T09:00:00.000' AS DateTime))
INSERT [dbo].[feedback] ([id], [student_id], [course_id], [content], [rating], [status], [created_at]) VALUES (13, 24, 23, N'Great teacher, engaging lessons.', 5, N'visible', CAST(N'2024-11-13T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[genders] ON 

INSERT [dbo].[genders] ([id], [name]) VALUES (1, N'Male')
INSERT [dbo].[genders] ([id], [name]) VALUES (2, N'Female')
INSERT [dbo].[genders] ([id], [name]) VALUES (3, N'Other')
SET IDENTITY_INSERT [dbo].[genders] OFF
GO
SET IDENTITY_INSERT [dbo].[Lesson] ON 

INSERT [dbo].[Lesson] ([LessonID], [CourseID], [Title], [Content], [VideoURL], [CreatedAt]) VALUES (11, 21, N'Japanese Greetings', N'Learn basic Japanese greetings...', N'https://example.com/video11.mp4', CAST(N'2024-11-11T08:00:00.000' AS DateTime))
INSERT [dbo].[Lesson] ([LessonID], [CourseID], [Title], [Content], [VideoURL], [CreatedAt]) VALUES (12, 22, N'Algorithm Basics', N'Introduction to algorithms...', N'https://example.com/video12.mp4', CAST(N'2024-11-12T09:00:00.000' AS DateTime))
INSERT [dbo].[Lesson] ([LessonID], [CourseID], [Title], [Content], [VideoURL], [CreatedAt]) VALUES (13, 23, N'Database Fundamentals', N'Basics of databases...', N'https://example.com/video13.mp4', CAST(N'2024-11-13T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Lesson] OFF
GO
SET IDENTITY_INSERT [dbo].[Lesson_Completion] ON 

INSERT [dbo].[Lesson_Completion] ([CompletionID], [UserID], [LessonID], [CompletedAt]) VALUES (11, 22, 11, CAST(N'2024-11-11T08:30:00.000' AS DateTime))
INSERT [dbo].[Lesson_Completion] ([CompletionID], [UserID], [LessonID], [CompletedAt]) VALUES (12, 23, 12, CAST(N'2024-11-12T09:30:00.000' AS DateTime))
INSERT [dbo].[Lesson_Completion] ([CompletionID], [UserID], [LessonID], [CompletedAt]) VALUES (13, 24, 13, CAST(N'2024-11-13T10:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Lesson_Completion] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([id], [transaction_id], [payment_method], [payment_status], [paid_amount], [paid_at]) VALUES (11, 11, N'Credit Card', N'success', CAST(49.99 AS Decimal(10, 2)), CAST(N'2024-11-11T08:10:00.000' AS DateTime))
INSERT [dbo].[payments] ([id], [transaction_id], [payment_method], [payment_status], [paid_amount], [paid_at]) VALUES (12, 12, N'PayPal', N'success', CAST(79.99 AS Decimal(10, 2)), CAST(N'2024-11-12T09:10:00.000' AS DateTime))
INSERT [dbo].[payments] ([id], [transaction_id], [payment_method], [payment_status], [paid_amount], [paid_at]) VALUES (13, 13, N'Bank Transfer', N'success', CAST(59.99 AS Decimal(10, 2)), CAST(N'2024-11-13T10:10:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([QuestionID], [QuizID], [Text]) VALUES (11, 11, N'What is "Hello" in Japanese?')
INSERT [dbo].[Question] ([QuestionID], [QuizID], [Text]) VALUES (12, 12, N'What is a sorting algorithm?')
INSERT [dbo].[Question] ([QuestionID], [QuizID], [Text]) VALUES (13, 13, N'What is a primary key?')
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Quiz] ON 

INSERT [dbo].[Quiz] ([QuizID], [LessonID], [Title], [duration_minutes]) VALUES (11, 11, N'Japanese Greetings Quiz', 30)
INSERT [dbo].[Quiz] ([QuizID], [LessonID], [Title], [duration_minutes]) VALUES (12, 12, N'Algorithms Quiz', 30)
INSERT [dbo].[Quiz] ([QuizID], [LessonID], [Title], [duration_minutes]) VALUES (13, 13, N'Database Quiz', 30)
SET IDENTITY_INSERT [dbo].[Quiz] OFF
GO
SET IDENTITY_INSERT [dbo].[Quiz_Attempt] ON 

INSERT [dbo].[Quiz_Attempt] ([AttemptID], [UserID], [QuizID], [AttemptDate], [Score], [completion_time_minutes]) VALUES (11, 22, 11, CAST(N'2024-11-11T09:00:00.000' AS DateTime), CAST(92.00 AS Decimal(5, 2)), 25)
INSERT [dbo].[Quiz_Attempt] ([AttemptID], [UserID], [QuizID], [AttemptDate], [Score], [completion_time_minutes]) VALUES (12, 23, 12, CAST(N'2024-11-12T10:00:00.000' AS DateTime), CAST(88.00 AS Decimal(5, 2)), 28)
INSERT [dbo].[Quiz_Attempt] ([AttemptID], [UserID], [QuizID], [AttemptDate], [Score], [completion_time_minutes]) VALUES (13, 24, 13, CAST(N'2024-11-13T11:00:00.000' AS DateTime), CAST(95.00 AS Decimal(5, 2)), 20)
SET IDENTITY_INSERT [dbo].[Quiz_Attempt] OFF
GO
SET IDENTITY_INSERT [dbo].[revenue] ON 

INSERT [dbo].[revenue] ([id], [total_amount], [commission_id], [commission_rate], [month], [year], [generated_at]) VALUES (1, CAST(499.90 AS Decimal(15, 2)), 1, CAST(20.00 AS Decimal(5, 2)), 10, 2021, CAST(N'2025-10-19T08:00:00.000' AS DateTime))
INSERT [dbo].[revenue] ([id], [total_amount], [commission_id], [commission_rate], [month], [year], [generated_at]) VALUES (2, CAST(599.90 AS Decimal(15, 2)), 2, CAST(22.00 AS Decimal(5, 2)), 7, 2023, CAST(N'2025-10-19T09:00:00.000' AS DateTime))
INSERT [dbo].[revenue] ([id], [total_amount], [commission_id], [commission_rate], [month], [year], [generated_at]) VALUES (3, CAST(799.90 AS Decimal(15, 2)), 3, CAST(24.00 AS Decimal(5, 2)), 4, 2024, CAST(N'2025-10-19T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[revenue] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name]) VALUES (1, N'Admin')
INSERT [dbo].[roles] ([id], [name]) VALUES (2, N'Teacher')
INSERT [dbo].[roles] ([id], [name]) VALUES (3, N'Student')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[subjects] ON 

INSERT [dbo].[subjects] ([id], [name]) VALUES (11, N'Artificial Intelligence')
INSERT [dbo].[subjects] ([id], [name]) VALUES (12, N'Machine Learning')
INSERT [dbo].[subjects] ([id], [name]) VALUES (13, N'Cybersecurity')
SET IDENTITY_INSERT [dbo].[subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[teacher_salary] ON 

INSERT [dbo].[teacher_salary] ([id], [teacher_id], [gross_amount], [commission_rate], [commission_amount], [total_amount], [month], [year], [transaction_count], [paid], [created_at], [paid_at], [notes], [status], [last_modified_by]) VALUES (1, 1, CAST(99.98 AS Decimal(12, 2)), CAST(20.00 AS Decimal(5, 2)), CAST(19.99 AS Decimal(12, 2)), CAST(79.99 AS Decimal(12, 2)), 10, 2024, 2, 1, CAST(N'2024-10-22T08:00:00.000' AS DateTime), CAST(N'2024-10-22T08:30:00.000' AS DateTime), N'Paid on time', N'Paid', 4)
INSERT [dbo].[teacher_salary] ([id], [teacher_id], [gross_amount], [commission_rate], [commission_amount], [total_amount], [month], [year], [transaction_count], [paid], [created_at], [paid_at], [notes], [status], [last_modified_by]) VALUES (2, 5, CAST(59.99 AS Decimal(12, 2)), CAST(22.00 AS Decimal(5, 2)), CAST(13.20 AS Decimal(12, 2)), CAST(46.79 AS Decimal(12, 2)), 10, 2024, 1, 1, CAST(N'2024-10-22T09:00:00.000' AS DateTime), NULL, N'Pending payment', N'Paid', NULL)
INSERT [dbo].[teacher_salary] ([id], [teacher_id], [gross_amount], [commission_rate], [commission_amount], [total_amount], [month], [year], [transaction_count], [paid], [created_at], [paid_at], [notes], [status], [last_modified_by]) VALUES (3, 8, CAST(79.99 AS Decimal(12, 2)), CAST(24.00 AS Decimal(5, 2)), CAST(19.20 AS Decimal(12, 2)), CAST(60.79 AS Decimal(12, 2)), 10, 2025, 1, 1, CAST(N'2025-10-22T10:00:00.000' AS DateTime), CAST(N'2025-10-22T10:30:00.000' AS DateTime), NULL, N'Paid', 4)
SET IDENTITY_INSERT [dbo].[teacher_salary] OFF
GO
SET IDENTITY_INSERT [dbo].[teacher_subjects] ON 

INSERT [dbo].[teacher_subjects] ([id], [teacher_id], [subject_id]) VALUES (11, 1, 11)
INSERT [dbo].[teacher_subjects] ([id], [teacher_id], [subject_id]) VALUES (12, 1, 12)
INSERT [dbo].[teacher_subjects] ([id], [teacher_id], [subject_id]) VALUES (13, 5, 13)
SET IDENTITY_INSERT [dbo].[teacher_subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[transactions] ON 

INSERT [dbo].[transactions] ([id], [student_id], [course_id], [amount], [status], [created_at], [revenue_id]) VALUES (11, 22, 21, CAST(49.99 AS Decimal(10, 2)), N'paid', CAST(N'2024-11-11T08:00:00.000' AS DateTime), 5)
INSERT [dbo].[transactions] ([id], [student_id], [course_id], [amount], [status], [created_at], [revenue_id]) VALUES (12, 23, 22, CAST(79.99 AS Decimal(10, 2)), N'paid', CAST(N'2024-11-12T09:00:00.000' AS DateTime), 5)
INSERT [dbo].[transactions] ([id], [student_id], [course_id], [amount], [status], [created_at], [revenue_id]) VALUES (13, 24, 23, CAST(59.99 AS Decimal(10, 2)), N'paid', CAST(N'2024-11-13T10:00:00.000' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Answer] ON 

INSERT [dbo].[User_Answer] ([UserAnswerID], [AttemptID], [QuestionID], [OptionID]) VALUES (11, 11, 11, 11)
INSERT [dbo].[User_Answer] ([UserAnswerID], [AttemptID], [QuestionID], [OptionID]) VALUES (12, 12, 12, 12)
INSERT [dbo].[User_Answer] ([UserAnswerID], [AttemptID], [QuestionID], [OptionID]) VALUES (13, 13, 13, 13)
SET IDENTITY_INSERT [dbo].[User_Answer] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [first_name], [middle_name], [last_name], [email], [gender_id], [password], [role_id], [avatar_url], [created_at], [status]) VALUES (1, N'John', NULL, N'Doe', N'john.doe@gmail.com', 1, N'John#23', 2, N'https://tinyurl.com/5hyr7rtb', CAST(N'2020-10-01T08:00:00.000' AS DateTime), 1)
INSERT [dbo].[users] ([id], [first_name], [middle_name], [last_name], [email], [gender_id], [password], [role_id], [avatar_url], [created_at], [status]) VALUES (2, N'Emma', N'Louise', N'Smith', N'emma.smith@gmail.com', 2, N'Emma!45', 3, N'https://tinyurl.com/2exwmnss', CAST(N'2021-10-02T09:00:00.000' AS DateTime), 1)
INSERT [dbo].[users] ([id], [first_name], [middle_name], [last_name], [email], [gender_id], [password], [role_id], [avatar_url], [created_at], [status]) VALUES (3, N'Alex', NULL, N'Taylor', N'alex.taylor@gmail.com', 3, N'alEx&32', 3, NULL, CAST(N'2022-10-03T10:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[wishlist] ON 

INSERT [dbo].[wishlist] ([id], [student_id], [course_id], [created_at]) VALUES (11, 22, 31, CAST(N'2024-11-11T08:00:00.000' AS DateTime))
INSERT [dbo].[wishlist] ([id], [student_id], [course_id], [created_at]) VALUES (12, 23, 32, CAST(N'2024-11-12T09:00:00.000' AS DateTime))
INSERT [dbo].[wishlist] ([id], [student_id], [course_id], [created_at]) VALUES (13, 24, 33, CAST(N'2024-11-13T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[wishlist] OFF
GO
/****** Object:  Index [UC_User_Lesson]    Script Date: 4/27/2025 8:07:07 PM ******/
ALTER TABLE [dbo].[Lesson_Completion] ADD  CONSTRAINT [UC_User_Lesson] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164633E685D]    Script Date: 4/27/2025 8:07:07 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Answer_Option] ADD  DEFAULT ((0)) FOR [IsCorrect]
GO
ALTER TABLE [dbo].[blogs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[commissions] ADD  DEFAULT (getdate()) FOR [effective_from]
GO
ALTER TABLE [dbo].[course_enrollments] ADD  DEFAULT (getdate()) FOR [enrolled_at]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[feedback] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Lesson] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Lesson_Completion] ADD  DEFAULT (getdate()) FOR [CompletedAt]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getdate()) FOR [paid_at]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT ((30)) FOR [duration_minutes]
GO
ALTER TABLE [dbo].[Quiz_Attempt] ADD  DEFAULT (getdate()) FOR [AttemptDate]
GO
ALTER TABLE [dbo].[revenue] ADD  DEFAULT (getdate()) FOR [generated_at]
GO
ALTER TABLE [dbo].[teacher_salary] ADD  DEFAULT ((0)) FOR [paid]
GO
ALTER TABLE [dbo].[teacher_salary] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[wishlist] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Answer_Option]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
GO
ALTER TABLE [dbo].[blogs]  WITH CHECK ADD FOREIGN KEY([author_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[course_enrollments]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[course_enrollments]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[Lesson_Completion]  WITH CHECK ADD FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lesson] ([LessonID])
GO
ALTER TABLE [dbo].[Lesson_Completion]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([transaction_id])
REFERENCES [dbo].[transactions] ([id])
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD FOREIGN KEY([QuizID])
REFERENCES [dbo].[Quiz] ([QuizID])
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lesson] ([LessonID])
GO
ALTER TABLE [dbo].[Quiz_Attempt]  WITH CHECK ADD FOREIGN KEY([QuizID])
REFERENCES [dbo].[Quiz] ([QuizID])
GO
ALTER TABLE [dbo].[Quiz_Attempt]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[revenue]  WITH CHECK ADD FOREIGN KEY([commission_id])
REFERENCES [dbo].[commissions] ([id])
GO
ALTER TABLE [dbo].[teacher_salary]  WITH CHECK ADD  CONSTRAINT [FK_teacher_salary_last_modified_by] FOREIGN KEY([last_modified_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[teacher_salary] CHECK CONSTRAINT [FK_teacher_salary_last_modified_by]
GO
ALTER TABLE [dbo].[teacher_salary]  WITH CHECK ADD  CONSTRAINT [FK_teacher_salary_teacher_id] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[teacher_salary] CHECK CONSTRAINT [FK_teacher_salary_teacher_id]
GO
ALTER TABLE [dbo].[teacher_subjects]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([id])
GO
ALTER TABLE [dbo].[teacher_subjects]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([revenue_id])
REFERENCES [dbo].[revenue] ([id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[User_Answer]  WITH CHECK ADD FOREIGN KEY([AttemptID])
REFERENCES [dbo].[Quiz_Attempt] ([AttemptID])
GO
ALTER TABLE [dbo].[User_Answer]  WITH CHECK ADD FOREIGN KEY([OptionID])
REFERENCES [dbo].[Answer_Option] ([OptionID])
GO
ALTER TABLE [dbo].[User_Answer]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([gender_id])
REFERENCES [dbo].[genders] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD CHECK  (([semester]='semester 9' OR [semester]='semester 8' OR [semester]='semester 7' OR [semester]='semester 6' OR [semester]='semester 5' OR [semester]='semester 4' OR [semester]='semester 3' OR [semester]='semester 2' OR [semester]='semester 1'))
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD CHECK  (([status]='hidden' OR [status]='visible'))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([payment_status]='failed' OR [payment_status]='pending' OR [payment_status]='success'))
GO
ALTER TABLE [dbo].[revenue]  WITH CHECK ADD CHECK  (([month]>=(1) AND [month]<=(12)))
GO
ALTER TABLE [dbo].[teacher_salary]  WITH CHECK ADD  CONSTRAINT [CHK_commission_amount] CHECK  (([commission_amount]>=(0)))
GO
ALTER TABLE [dbo].[teacher_salary] CHECK CONSTRAINT [CHK_commission_amount]
GO
ALTER TABLE [dbo].[teacher_salary]  WITH CHECK ADD  CONSTRAINT [CHK_commission_rate] CHECK  (([commission_rate]>=(0) AND [commission_rate]<=(100)))
GO
ALTER TABLE [dbo].[teacher_salary] CHECK CONSTRAINT [CHK_commission_rate]
GO
ALTER TABLE [dbo].[teacher_salary]  WITH CHECK ADD  CONSTRAINT [CHK_gross_amount] CHECK  (([gross_amount]>=(0)))
GO
ALTER TABLE [dbo].[teacher_salary] CHECK CONSTRAINT [CHK_gross_amount]
GO
ALTER TABLE [dbo].[teacher_salary]  WITH CHECK ADD  CONSTRAINT [CHK_month] CHECK  (([month]>=(1) AND [month]<=(12)))
GO
ALTER TABLE [dbo].[teacher_salary] CHECK CONSTRAINT [CHK_month]
GO
ALTER TABLE [dbo].[teacher_salary]  WITH CHECK ADD  CONSTRAINT [CHK_status] CHECK  (([status]='Disputed' OR [status]='Paid' OR [status]='Approved' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[teacher_salary] CHECK CONSTRAINT [CHK_status]
GO
ALTER TABLE [dbo].[teacher_salary]  WITH CHECK ADD  CONSTRAINT [CHK_total_amount] CHECK  (([total_amount]>=(0)))
GO
ALTER TABLE [dbo].[teacher_salary] CHECK CONSTRAINT [CHK_total_amount]
GO
ALTER TABLE [dbo].[teacher_salary]  WITH CHECK ADD  CONSTRAINT [CHK_transaction_count] CHECK  (([transaction_count]>=(0)))
GO
ALTER TABLE [dbo].[teacher_salary] CHECK CONSTRAINT [CHK_transaction_count]
GO
ALTER TABLE [dbo].[teacher_salary]  WITH CHECK ADD  CONSTRAINT [CHK_year] CHECK  (([year]>=(2000) AND [year]<=(datepart(year,getdate())+(1))))
GO
ALTER TABLE [dbo].[teacher_salary] CHECK CONSTRAINT [CHK_year]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([status]='failed' OR [status]='pending' OR [status]='paid'))
GO
/****** Object:  StoredProcedure [dbo].[GenerateTeacherPayroll]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE PROCEDURE [dbo].[GenerateTeacherPayroll]
		@Month INT,
		@Year INT,
		@AdminID INT = NULL
	AS
	BEGIN
		SET NOCOUNT ON;

		-- Validate input
		IF @Month NOT IN (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)
			THROW 50001, 'Invalid month. Must be between 1 and 12.', 1;
		IF @Year < 2000 OR @Year > YEAR(GETDATE())
			THROW 50002, 'Invalid year. Must be between 2000 and current year.', 1;
		IF @AdminID IS NOT NULL AND NOT EXISTS (SELECT 1 FROM [dbo].[users] WHERE id = @AdminID AND role_id = 1)
			THROW 50003, 'Invalid admin ID. Must reference a user with Admin role.', 1;

		BEGIN TRY
			BEGIN TRANSACTION;

			-- Lấy commission rate mới nhất từ bảng commissions
			DECLARE @CommissionRate DECIMAL(5,2);
			SELECT @CommissionRate = rate
			FROM [dbo].[commissions]
			WHERE effective_from <= GETDATE()
			ORDER BY effective_from DESC, id DESC
			OFFSET 0 ROWS FETCH NEXT 1 ROW ONLY;

			-- Nếu không có commission rate, sử dụng mặc định là 20%
			IF @CommissionRate IS NULL
				SET @CommissionRate = 20.00;

			-- Insert chỉ khi chưa tồn tại payroll cho giáo viên, tháng và năm này
			INSERT INTO [dbo].[teacher_salary] (
				teacher_id, 
				gross_amount, 
				commission_rate, 
				commission_amount, 
				total_amount, 
				month, 
				year, 
				transaction_count, 
				paid,  -- Explicitly set to 0 (unpaid)
				status, 
				last_modified_by,
				created_at
			)
			SELECT 
				u.id AS teacher_id,
				COALESCE(SUM(t.amount), 0) AS gross_amount,
				@CommissionRate AS commission_rate,
				COALESCE(SUM(t.amount) * @CommissionRate / 100, 0) AS commission_amount,
				COALESCE(SUM(t.amount) * (1 - @CommissionRate / 100), 0) AS total_amount,
				@Month,
				@Year,
				COUNT(t.id) AS transaction_count,
				0 AS paid,  -- Ensure new records are unpaid
				'Pending' AS status,
				@AdminID AS last_modified_by,
				GETDATE() AS created_at
			FROM [dbo].[users] u
			INNER JOIN [dbo].[courses] c ON u.id = c.teacher_id
			INNER JOIN [dbo].[transactions] t ON c.id = t.course_id
			WHERE u.role_id = 2 -- Teachers only
				AND t.status = 'paid'
				AND MONTH(t.created_at) = @Month
				AND YEAR(t.created_at) = @Year
				AND NOT EXISTS (  -- Prevent duplicates
					SELECT 1 
					FROM [dbo].[teacher_salary] ts 
					WHERE ts.teacher_id = u.id 
					AND ts.month = @Month 
					AND ts.year = @Year
				)
			GROUP BY u.id
			HAVING SUM(t.amount) > 0;

			COMMIT TRANSACTION;
			PRINT 'Payroll generated successfully for ' + CAST(@Month AS VARCHAR) + '/' + CAST(@Year AS VARCHAR);
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;
			DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
			THROW 50004, @ErrorMessage, 1;
		END CATCH;
	END;
GO
/****** Object:  StoredProcedure [dbo].[MarkTeacherSalaryPaid]    Script Date: 4/27/2025 8:07:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE   PROCEDURE [dbo].[MarkTeacherSalaryPaid]
		@SalaryID INT,
		@AdminID INT = NULL
	AS
	BEGIN
		SET NOCOUNT ON;

		BEGIN TRY
			BEGIN TRANSACTION;

			-- Validate salary ID
			IF NOT EXISTS (SELECT 1 FROM [dbo].[teacher_salary] WHERE id = @SalaryID)
				THROW 50005, 'Invalid salary ID.', 1;

			-- Validate admin ID
			IF @AdminID IS NOT NULL AND NOT EXISTS (SELECT 1 FROM [dbo].[users] WHERE id = @AdminID AND role_id = 1)
				THROW 50006, 'Invalid admin ID. Must reference a user with Admin role.', 1;

			-- Update paid status
			UPDATE [dbo].[teacher_salary]
			SET paid = 1,
				last_modified_by = @AdminID,
				status = 'Paid'
			WHERE id = @SalaryID;

			COMMIT TRANSACTION;
			PRINT 'Salary ID ' + CAST(@SalaryID AS VARCHAR) + ' marked as paid.';
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION;
			DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
			THROW 50007, @ErrorMessage, 1;
		END CATCH;
	END;
GO
USE [master]
GO
